:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
/*? Start Box */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
/*? End Box */
/*? Start Padding + Margin */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.m-0 {
  margin: 0;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
mb-20 {
  margin-bottom: 20px;
}
.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}
/*? End Padding + Margin */
/*? Start Color */
.bg-wight {
  background-color: #fff;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.c-black {
  color: #000;
}
.c-grey {
  color: var(--grey-color);
}
/*? End Color */
/*? Start Position */
.p-relative {
  position: relative;
}
/*? End Position */
/*? Start Font */
.txt-c {
  text-align: center;
}
.fs-14 {
  font-size: 14px;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/*? End Font */
/*? Start Border */
.red-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
/*? End Border */
/*? Start Components */
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*? End Components */
