body{
    background: #003;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background: #0000889f;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
form input{
    background: #0000aaa0;
    color: #fff;
    border: 0;
    border-radius: 3px;
    padding: 5px 10px;
    flex-grow: 1;
    outline: none;
}
button{
    background-color: #14a;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    flex-grow: 1;
    padding: 5px 10px;
}